.new-user{
    
    min-height: 750px !important;
    .title{
        background-color: #fff;
        box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
        color: lightgray;
        font-size: 22px;
        font-weight: 600;
        padding: 20px;
        margin-bottom: 10px;
    }
    .one{
        position: relative;
        margin-bottom: 30px;
    }
    // .one::after{
    //     content: "";
    //     border: 1px solid #555;
    //     position: absolute;
    //     width: 30%;
    //     height: 1px;
    //     transform: translate(-50%,-50%);
    //     left: 50%;
    // }
    .Details{
        background-color: #fff;
        box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
        padding: 20px;
        .pp{
            font-size: 30px;
            color: gray;
            border-bottom: 1px solid gray;
            width: fit-content;
            font-weight:400 ;
            margin-bottom: 50px;
        }
        .person-details{
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        .test-ar{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            flex-direction: column;
            p{
                color: red;
                background-color: #eee;
                padding: 5px;
                border-radius: 5px;
                width : 90%;
                font-size: 13px;
            }
            .tex{
                width: 400px;
                height: 122px;
                border-radius: 15px;
                padding: 5px;
            }
        }
        .det-inp{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-content: flex-start;
            gap: 10px;
            flex-wrap: wrap;
            margin-bottom: 50px;
            justify-content: flex-start;
            span{
                display: none;
                color: red;
                background-color: #eee;
                padding: 5px;
                border-radius: 5px;
                width : 90%;
                font-size: 13px;
            }
            p{
                color: red;
                background-color: #eee;
                padding: 5px;
                border-radius: 5px;
                width : 90%;
                font-size: 13px;
            }
            input:invalid[focused='true'] ~ span{
                display: block;
            
            }
            small{
                color: red;
            }
            img{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                object-fit: fill;
                margin-top: -35px;
            }
           .icon{
            cursor: pointer;
           }
            label{
                color: gray;
                font-weight: 700;
            }
            input{
                border: none;
                border-bottom: 1px solid lightgray;
            }
            input::placeholder{
                color: lightgray;
            }
            input:focus{
                outline: none;
            }
        }
        .no-b input{
            border-bottom: none;
        }
        .view{
            border : 1px solid #22b995 !important;
            color : #22b995;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in 0.3s;
            margin: auto;
            }.view:hover{
              background-color: #22b995 !important;
              color: #fff;
            }
    }

}
.css-b3dvpx-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    padding-top: 0 !important;
    margin-top: -10px;

}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
    border: 1px solid gray  !important;
}
// .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary{
// border: 1px solid gray
// }
.css-3dah0e-MuiModal-root-MuiDialog-root{

    z-index: 99999 !important;
}
@media screen and (max-width : 550px){
    .person-details{
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        gap: 10px;
    }
    .new-user .Details .det-inp input {
        width: 100%;
    }
}