.dets-inp{
    display: flex;
    width: 33.33%;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: flex-start;
   
}
.appo{
.tox-tinymce{
    height: 250px !important;
}
    
}

.css-a643pv-MuiStack-root{
    padding-top: 5px !important
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height: 1.1375em !important; 
}

.css-1wuilmg-MuiAutocomplete-root {
    width: 100% !important;
}

.datat{
    .css-4jnixx-MuiStack-root>.MuiTextField-root{
        min-width: 70% !important;
    }
}