.createDoc{
    .det-inp{
        display: flex;
        width: 100% !important;
        flex-direction: column;
        align-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: flex-start;
        span{
            display: none;
            color: red;
            background-color: #eee;
            padding: 5px;
            border-radius: 5px;
            width : 90%;
            font-size: 13px;
        }
        p{
            color: red;
            background-color: #eee;
            padding: 5px;
            border-radius: 5px;
            width : 90%;
            font-size: 13px;
        }
        input:invalid[focused='true'] ~ span{
            display: block;
        
        }
        small{
            color: red;
        }
        img{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            object-fit: fill;
        }
       .icon{
        cursor: pointer;
       }
        label{
            color: gray;
            font-weight: 700;
        }
        input{
            border: none;
            border-bottom: 1px solid lightgray;
        }
        input::placeholder{
            color: lightgray;
        }
        input:focus{
            outline: none;
        }
    }
}
.box-icon{
    cursor: pointer;
    width: fit-content;
    svg{
        font-size:30px ;
    }
.icon-add{
    background-color: gray;
    border-radius:50% ;
    color: #fff;
    font-size: 25px;
    width: 40px;
    height: 40px;
   
}
}

.pass{
    position: relative;
    .icon-show{
        position: absolute;
        right: 48%;
        top: 39px;
        font-size: 18px;
        color: gray;
    }
}