.box-user{
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    background: #fff;
    height: 97%;
    .box-img{
        width: 100%;
        background: linear-gradient(rgba(44,216,175,0.5),rgba(44,216,175,0.1));
        border-end-start-radius:15px ;
        border-bottom-right-radius:15px ;
        position: relative;
        height: 80px;
        margin-bottom: 50px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid #2CD8AF;
            object-fit: cover;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translate(-50%,-50%);
        }
      .boxImageChar{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
        span{
            width: 100px !important;
            height: 100px !important;
            font-size: 45px;
        }
      }
    }
    .title{
        padding: 20px;
        h3{
            font-size: 19px;
            color: #444;
            font-weight: 400;
        }
        .detailsitem{
            color: gray;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px  !important;
            .itemvalue{
                width: 50%;
            }
        }
        .icon{
            color : #22b995;
            font-size:  22px;
        }
        .btn{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .view{
            border : 1px solid #22b995 !important;
            color : #22b995;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in 0.3s;
            }.view:hover{
              background-color: #22b995 !important;
              color: #fff;
            }

    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 130%;
        background-color: rgba(59, 57, 57, 0.744);
        color: #fff;
        z-index: 99999999;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        .icon{
            position: absolute;
            top: 200px;
            right: 30%;
            background-color: #22b995;
            padding: 2px;
            font-size: 22px;
            width: 30px;
            height: 30px;
            
            border-radius: 50%;
            cursor: pointer;
        }
        .box{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            background-color: #fff;
            border-radius: 8px;
            padding: 40px 30px;
            margin-bottom: 60px;
            .view{
                border : 1px solid #22b995 !important;
                color : #22b995;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all ease-in 0.3s;
                padding: 10px 40px;
                }.view:hover{
                    background-color: #22b995 !important;
                    color: #fff;
                }
            .inp-t{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom:60px;
                gap: 20px;
                label{
                    color: gray;
                }
                input{
                    border: none;
                    border-bottom: 1px solid gray;
                }
                input::placeholder{
                    color: lightgray;
                }
                input:focus{
                    outline: none;
                }
            }
        }
    }
    }