.widgate {
  background-color: #fff;
  padding: 10px;
  box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
  margin-bottom: 10px;
}
.widgate .top-widgate {
  display: flex;
  justify-content: space-between;
}
.widgate .top-widgate h3 {
  font-weight: bold;
  font-size: 14px;
  color: rgb(160, 160, 160);
  margin-bottom: 15px;
}
.widgate .top-widgate span {
  font-size: 16px;
}
.widgate .top-widgate .pos {
  color: green;
}
.widgate .top-widgate .neg {
  color: crimson;
}
.widgate p {
  font-size: 28px;
  font-weight: 300;
}
.widgate .bottom-widgate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widgate .bottom-widgate span {
  font-size: 12px;
  border-bottom: 1px solid gray;
}/*# sourceMappingURL=Widgate.css.map */