.widgate{
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    margin-bottom: 10px;
    .top-widgate{
        display: flex;
        justify-content: space-between;
        h3{
            font-weight: bold;
            font-size: 14px ;
            color: rgb(160,160,160);
            margin-bottom: 15px;
        }
        span{
            font-size:16px ;
        }
        .pos{
            color:  green;
        }
        .neg{
            color: crimson;
        }
    }
    p{
        font-size: 28px;
        font-weight: 300;
    }
    .bottom-widgate{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
    }
}