.singleuser{
    padding-bottom: 20px;
    position: relative;
    .view{
        border : 1px solid #22b995 !important;
        color : #22b995;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in 0.3s;
        }.view:hover{
          background-color: #22b995 !important;
          color: #fff;
        }


    .action-det{
        margin-right: -10px;
        margin-right: -10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    
        .btn{
            font-size: 11px !important;

        }
        .mmk{
            background-color: #22b995;
            border: #22b995;
        }
    }
    .box-user{
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    background: #fff;
    height: 97%;
    .box-img{
        width: 100%;
        background: linear-gradient(rgba(44,216,175,0.5),rgba(44,216,175,0.1));
        border-end-start-radius:15px ;
        border-bottom-right-radius:15px ;
        position: relative;
        height: 80px;
        margin-bottom: 50px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid #2CD8AF;
            object-fit: cover;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translate(-50%,-50%);
        }
      
    }
    .title{
        padding: 20px;
        h3{
            font-size: 19px;
            color: #444;
            font-weight: bold;
        }
        .detailsitem{
            color: gray;
            font-size: 12px;
            gap: 50px  !important;
            .itemvalue{
                width: 50%;
                font-size: 13px;
                color: gray !important;
            }
        }
        .icon{
            color : #22b995;
            font-size:  22px;
        }
        .btn{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .view{
            border : 1px solid #22b995 !important;
            color : #22b995;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in 0.3s;
            }.view:hover{
              background-color: #22b995 !important;
              color: #fff;
            }

    }
    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(59, 57, 57, 0.744);
        color: #fff;
        z-index: 99999999;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        .icon{
            position: absolute;
            top: 200px;
            right: 30%;
            background-color: #22b995;
            padding: 2px;
            font-size: 22px;
            width: 30px;
            height: 30px;
            
            border-radius: 50%;
            cursor: pointer;
        }
        .box{
            position: relative;
            display: block;
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 60px;
            width: 400px;
            height: 550px;
            overflow-y: scroll;
            @media (max-width: 400px) {
                width: 320px !important;
            }
            .view{
                border : 1px solid #22b995 !important;
                color : #22b995;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all ease-in 0.3s;
                padding: 10px 40px;
                }.view:hover{
                    background-color: #22b995 !important;
                    color: #fff;
                }
            .inp-t{
                display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 35px;
    gap: 9px;
                label{
                    color: gray;
                    small{
                        color: red;
                    }
                }
                input{
                    border: none;
                    border-bottom: 1px solid gray;
                    width: 100%;
                }
                input::placeholder{
                    color: lightgray;
                }
                input:focus{
                    outline: none;
                }
            }
        }
    }
    }
    .bottom {
        .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
            box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 4px;
        // box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        width: 98% !important;
        overflow-x: auto;
        margin: auto !important;
    }
}
}
.mm .rechart {
    margin-top: 0 !important;
    height: 97%;
}



.sskk{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .view{
        border : 1px solid #22b995 !important;
        color : #22b995;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in 0.3s;
        }.view:hover{
          background-color: #22b995 !important;
          color: #fff;
        }
}

.subse{
    min-height: 750px;
}

.pop-up-tooth{
    background-color: #fff;
    position: absolute;
    top: 13%;
    height: 380px;
    width: 305px;
    box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
    border-radius: 8px;
    left: 13%;
    z-index: 999999999999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 400px) {
        left:  0 !important;
    }
}

