.featured {
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
  margin-bottom: 10px;
  margin-top: 40px;
  height: 507px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.featured .top-fea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(177, 173, 173);
}
.featured .mid-fea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.featured .mid-fea .circle {
  width: 120px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.featured .mid-fea .CircularProgressbar .CircularProgressbar-path {
  stroke: #2CD8AF;
}
.featured .mid-fea .CircularProgressbar .CircularProgressbar-text {
  fill: #2CD8AF;
}
.featured .mid-fea h6 {
  color: gray;
  font-weight: 500;
}
.featured .mid-fea .number {
  color: #333;
  font-size: 30px;
}
.featured .mid-fea .title {
  font-weight: 300;
  font-size: 12px;
  color: gray;
  text-align: center;
}
.featured .bottom-fea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured .bottom-fea .mark-e {
  color: gray;
}
.featured .bottom-fea .mark-e p {
  margin-top: 5px;
  color: seagreen;
}/*# sourceMappingURL=Featured.css.map */