.featured{
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    margin-bottom: 10px;
    margin-top: 40px;
    height: 507px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .top-fea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(177, 173, 173);

    }
    .mid-fea{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .circle{
            width: 120px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        .CircularProgressbar .CircularProgressbar-path{
            stroke: #2CD8AF;
        }
        .CircularProgressbar .CircularProgressbar-text{
            fill : #2CD8AF
        }
        
        h6{
            color: gray;
            font-weight: 500;
        }
        .number{
            color: #333;
            font-size: 30px;
        }
        .title{
            font-weight: 300;
            font-size: 12px;
            color: gray;
            text-align: center;
        }
    }
    .bottom-fea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mark-e{
            color: gray;
            p{
                margin-top: 5px;
                color: seagreen;
            }
        }
    }
}