.topbar {
  position: sticky;
  z-index: 999;
  margin-bottom: 20px;
  // border-bottom: 0.5px solid rgb(230, 227, 227);
  box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
  padding-bottom: 10px;
  padding-top: 6px;
  padding-right: 10px;
  .dropdown12 {
    width: 0;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 200px;
    height: 45px;
    @media (max-width: 768px) {
      width: 89px;
    }
    img {
      width: 53%;
      height: 91%;
      @media (max-width: 768px) {
        width: 93%;
      }
    }
  }
}
.topbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  .list {
    display: none !important;
    @media (max-width: 1200px) {
      display: block !important;
    }
  }
  .inp-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 2px 8px;
    .input-search {
      border: none;
      color: #555;
      background-color: transparent;
    }
    .input-search:focus {
      outline: none;
    }
  }
  .big-icons-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    .icon-topbar {
      position: relative;
      color: #444 ;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        color: #444 ;
      }
      .sp {
        background-color: rgb(230, 53, 53);
        color: white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 15px;
        right: -7px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        padding: 3px;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .box-noti-pop {
        position: absolute;
        top: 30px;
        left: -200px;
        width: 350px;
        // height: 350px;
        max-height: 350px;
        background-color: #fff;
        z-index: 999999;
        overflow-y: scroll;
        border-radius: 2%;
        box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
        transition: all 0.4s ease-in;
        .title-nafi {
          font-size: 17px;
          padding: 5px;
          border-bottom: 1px solid #2cd8ae;
          margin-bottom: 3px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          transition: all 0.4s ease-in;
          img {
            width: 132px;
            height: 65px;
            border-radius: 50%;
            margin-right: 14px;
            border: 4px solid #2cd8ae;
          }
          .name {
            font-weight: 700;
          }
          .date {
            font-weight: 700;
            font-style: italic;
            margin-left: 10px;
            color: gray;
          }
        }
      }
    }
  }
}


.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  min-width: 32px !important;
}

.mmm{
  .boxImageChar span{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: #2CD8AF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px !important;
  }
}

.css-8nphli,.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  p{
    margin: 0 !important;
  }
}