.two-box{
    box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
    padding: 20px;
    min-height: 750px !important;
    .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
 
    .users{
       
        .top-usr{ display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            h3{
                color: #777;
                font-weight: 400;
            }
            .btn{
                    color: #2CD8AF;
                    border-color:#2CD8AF ;
        
            }.btn:hover{
                background-color: #2CD8AF;
                color: #fff;
            }
            }
    }
}




.boxImageChar{
    span{
        width: 50px !important;
        height: 50px !important;
    border-radius: 50%;background-color: #2CD8AF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
}

.btn-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-action{
    svg{
        cursor: pointer;
    }
    .icon-show{
        color:slateblue !important
    }
    .icon-edit{
        color : mediumseagreen !important
    }
    .icon-delete{
        color: crimson !important;
    }
}

.btn-delete{
    background-color: crimson;
    color: #fff !important;
    padding: 4px 13px;
    margin-right: 10px;
    svg{
        color: #fff !important;
    }
}.btn-delete:hover{
    background-color: rgb(242, 54, 92) !important;
}
.btn-add{
    background-color: #2CD8Af;
    color: #fff;
    padding: 4px 13px;
    margin-right: 10px;
}.btn-add:hover{
    background-color: #2CD8Aa !important;
}

.icon-list-print{
    position: relative;
    cursor: pointer;
    .show-print{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
        width: 150px;
        box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        z-index: 999;
        position: absolute;
        padding: 10px 0;
        left: 20px;
        border-radius: 8px;
        top: 20px;
        span{
            padding: 2px 10px;
            width: 100%;
            cursor: pointer;
            transition: all 0.3 ease;
        }:hover{
            background-color: gray;
            color: #fff;
        }
    }
}