.information{
    padding: 10px 25px !important;
    .boxImageChar{
        width: 100%;
        height: 100%;
        span{
            width: 100% !important;
            height: 100%!important;
            border-radius: 50%;
            background-color: #2CD8AF;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 52px;
            margin-right: 10px;
        
        }
    }
    .box-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: -10px;
    overflow: hidden;
    border: 5px solid #2CD8AF;
  img{
    width: 100%;
    height: 100%;
  }
}
h5{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin: 10px 5px 35px 5px;
}
.deatils-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
    .btn{
        border: 1px solid #2CD8AF;
        color: gray;
        .icon{
            color: gray;
        }
    }
    span{
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-right: 5px;
        .icon{
            color: #7aecd1;
        }
    }
    label{
        color: gray;
        font-size: 14px;
    }
}
.time{
    p{
        color: #666;
    }
    span{
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-right: 5px;
        .icon{
            color: #7aecd1;
        }
    }
    label{
        color: gray;
        font-size: 13px;
    }
}
}