.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .btn{
        background-color:   #2CD8AF;
        color: #fff;
        padding: 4px 13px;
        margin-right: 10px;
        border: none;
        transition: all 0.3s ease-in;
    }.btn:hover{
        background-color: #0e5948;
        transition: all 0.3s ease-in;
    }
    img{
        width: 350px;
        height: 350px;
    }
}