.big{
    height: 100vh !important;
    overflow-y: scroll !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px ;
    position: sticky;
    top: 5px;
    // border-right: 0.5px solid rgb(230, 227, 227);
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    min-height: 100vh;
    background-color: #fff;
    overflow: scroll !important;
    height: 100vh;
    z-index: 999;
    // transition: all 0.3s ease;
    /* Media query for screens up to 768px */
        @media (max-width: 1200px) {
            position: absolute;
            width: 290px;
            left: -290px;
            top: 65px;
        }
    .logo{
        width: 100%;
        height: 100%;
        // background-color: #2CD8AF;
        margin-bottom:20px ;
        margin-top: -3px;
        border-bottom: 1px solid rgba(151, 243, 221, 0.406);
        img{
            width: 50%;
            height: 100%;
            padding-bottom: 5px;
            margin-left: 8px;
            // background-color: #2CD8AF;
        }

    }
    .list{
        width: 100%;
        img{
            width: 100%;
            height: 100px;
            margin-bottom: 25px;
            border-bottom: 1px solid lightgray;
            padding-bottom: 20px;
        }
        h6{
           color : rgb(187, 187, 186);
            font-weight: bold;
            font-size: 15px;
        }
       ul{
        padding: 0 6px;
        margin-bottom: 0 !important;
        a,div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 5px;
            border-radius: 8px;
            padding: 5px;
            gap : 5px;
            margin-bottom: 10px;
            font-size: 14px;
            cursor: pointer;
            color: #444;
            text-decoration: none;
            .icon-s{
                color: #2CD8Af;
                margin-right: 5px;
            }
            
        }a.active,div.active,
            a:hover,div:hover{
            background-color: rgba(151, 243, 221, 0.406);
            color: gray;
            // .icon-s{
            //     color: #fff;
            //     margin-right: 5px;
            // }
        }
        }.themesfather{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-left: 30px;
            .theme{
            width: 20px;
            height: 20px;
            border: 1px solid rgba(151, 243, 221, 0.406) ;
            cursor: pointer;
            border-radius: 5px;
        }.white{
            background-color: rgb(226, 240, 240);
        }.dark{
            background-color: #333;
        }
        }
        
    }
}
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #eee;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(165, 160, 160);
}


.big2{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px ;
    position: sticky;
    top: 5px;
    // border-right: 0.5px solid rgb(230, 227, 227);
    box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    min-height: 100vh;
    background-color: #fff;
    overflow: scroll !important;
    height: 100vh;
    z-index: 99;
    // transition: all 0.3s ease;
    /* Media query for screens up to 768px */
        @media (max-width: 1200px) {
            position: absolute;
            width: 290px;
            left: 6px;
            top: 65px;
        }
    .logo{
        width: 100%;
        height: 100%;
        // background-color: #2CD8AF;
        margin-bottom:20px ;
        margin-top: -3px;
        border-bottom: 1px solid rgba(151, 243, 221, 0.406);
        img{
            width: 50%;
            height: 100%;
            padding-bottom: 5px;
            margin-left: 8px;
            // background-color: #2CD8AF;
        }

    }
    .list{
        width: 100%;
        img{
            width: 88%;
            height: 100px;
            margin-bottom: 25px;
            border-bottom: 1px solid lightgray;
            padding-bottom: 20px;
        }
        h6{
           color : rgb(187, 187, 186);
            font-weight: bold;
            font-size: 15px;
        }
       ul{
        padding: 0 6px;
        margin-bottom: 0 !important;
        a,div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 5px;
            border-radius: 8px;
            padding: 5px;
            margin-bottom: 10px;
            font-size: 14px;
            cursor: pointer;
            color: #888;
            text-decoration: none;
            .icon-s{
                color: #2CD8Af;
                margin-right: 5px;
            }
            
        }a.active,div.active,
            a:hover,div:hover{
            background-color: rgba(151, 243, 221, 0.406);
            color: gray;
        }
        }.themesfather{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-left: 30px;
            .theme{
            width: 20px;
            height: 20px;
            border: 1px solid rgba(151, 243, 221, 0.406) ;
            cursor: pointer;
            border-radius: 5px;
        }.white{
            background-color: rgb(226, 240, 240);
        }.dark{
            background-color: #333;
        }
        }
        
    }
}

/* Define a CSS class for the menu with transitions */
/* Define a CSS class for the menu with opacity transitions */
.menu-list {
    opacity: 0; /* Initially, hide the menu */
    max-height: 0; /* Hide content */
    overflow: hidden;
    transition: opacity 0.3s ease-in-out /* Add transition effect */
  }
  
  /* When the menu is shown, adjust the opacity and max-height properties */
  .menu-list.active {
    opacity: 1;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out /* Add transition effect */

  }


  
.big::-webkit-scrollbar {
    width: 4px; /* Adjust the width to your preference */
  }
  
  .big::-webkit-scrollbar-thumb {
    background-color: rgba(201, 201, 201, 0.47); /* Customize the scrollbar thumb color */
    border-radius: 4px; /* Customize the scrollbar thumb border radius */
  }
  
  .big::-webkit-scrollbar-track {
    background-color: transparent !important; /* Hide the scrollbar track when not scrolling */
  }
  
  /* Use 'scrollbar-width' to hide the scrollbar on Firefox */
  .big {
    scrollbar-width: thin;
  }


  .big2::-webkit-scrollbar {
    width: 4px; /* Adjust the width to your preference */
  }
  
  .big2::-webkit-scrollbar-thumb {
    background-color: rgba(201, 201, 201, 0.47); /* Customize the scrollbar thumb color */
    border-radius: 4px; /* Customize the scrollbar thumb border radius */
  }
  
  .big2::-webkit-scrollbar-track {
    background-color: transparent !important; /* Hide the scrollbar track when not scrolling */
  }
  
  /* Use 'scrollbar-width' to hide the scrollbar on Firefox */
  .big2 {
    scrollbar-width: thin;
  }