.date-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .date-pop{
        position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    .icon-toggle{
        position: absolute;
        right: 100px;
        cursor: pointer;
        color: lightgray;
        z-index: 999;
        bottom: 17px;
    
    }
    p{
        font-weight: 500;
        margin: 0;
        font-size: 19px;
    }
}
.css-ictctw-MuiFormControl-root-MuiTextField-root{
    width: 175px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    width: 75% !important;
}
.css-1bn53lx {
    border: 1px solid #fff;
}