.app.dark{
    background-color: #1f1f1f !important;
    color: #fff !important;
    // direction: rtl;
    .topbar{
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
    }
    .show-print {
        background-color: #1f1f1f !important;
    }
    .main-page-cou .card {
        color: #fff !important;
        background-color: #1f1f1f !important;
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
    }
    .main-page-cou .card .title{
        color : #fff !important
    }
    .two-box{
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
    }
    .footerbar{
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
    }
    .big{
        background-color: #1f1f1f !important;
        color: #fff !important;
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
        a{
            color: #fff !important
        }
    } .big2{
        background-color: #1f1f1f !important;
        color: #fff !important;
        box-shadow: 0px 0px 6px 0px rgba(201, 201, 201, 0.47) !important;
        a{
            color: #fff !important
        }
    }
    .even-row {
        background-color: #1f1f1f !important;
        color: #fff !important
      }
      
      .odd-row {
        background-color: #1f1f1f !important;
        color: #fff !important
      }
      .css-yrdy0g-MuiDataGrid-columnHeaderRow {
        color:  #fff !important
    }
    .css-rtrcn9-MuiTablePagination-root:last-child{
        color:  #fff !important;
        svg{
            color:  #fff !important; 
        }
    }
    .footerbar{
        color:  #fff !important; 
    }

    .css-11a8txn-MuiStack-root>:not(style):not(style){
        border: 1px solid #fff;
    }
    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
        color:  #fff !important;
    }
    //all svg will color #fff
    .css-i4bv87-MuiSvgIcon-root{
        color: #fff;
    }
    .css-ptiqhd-MuiSvgIcon-root{
        color: #fff;
    }
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
        background-color: #1f1f1f !important;
        color: #fff !important
    }

    .css-1ygcj2i-MuiTableCell-root,.css-1ex1afd-MuiTableCell-root,.css-177gid-MuiTableCell-root,.css-1howxi1-MuiTableCell-root,.css-dsuxgy-MuiTableCell-root,.css-dv0mq-MuiTableCell-root,.css-6qfsqn-MuiTableCell-root{
        color: #fff;
    }
    .singleuser .box-user{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .rechart{
        background-color: #1f1f1f !important;
        color: #fff !important
    }

    .singleuser .box-user .overlay .box{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .form-control,.form-select{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    input{
        background: initial !important;
        color: #fff;
    }
    
   .new-user .title{
    background-color: #1f1f1f !important;
    color: #fff !important
   }
   .new-user .Details{
    background-color: #1f1f1f !important;
    color: #fff !important
   }
   .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important  
    }
    .tox .tox-menubar {
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .tox:not(.tox-tinymce-inline) .tox-editor-header{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .tox .tox-toolbar-overlord .tox-toolbar:not(.tox-toolbar--scrolling):first-child, .tox .tox-toolbar-overlord .tox-toolbar__primary{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .tox .tox-tbtn svg{
        fill:#fff
    }
    .tox .tox-mbtn__select-label {
        color: #fff;
    }
    .tox .tox-edit-area__iframe{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .widgate,.featured{
        background-color: #1f1f1f !important;
        color: #fff !important
    }
    .MuiDataGrid-withBorderColor{
        color: #fff !important;
    }
    .css-1utq5rl{
        color: #fff;
    }
    .MuiTablePagination-actions{
        button{
            color: #fff;
        }
    }
    .css-whi0l6{
        color: #fff;
    }
    .css-1k33q06{
        color: #fff !important;
    }
    .css-pwxzbm {
        background-color: #1f1f1f !important;
    }
    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        background-color: #1f1f1f !important;
    }
    .icon-topbar {
        svg{
            color: #fff;
        }
    }
    .css-13xy2my{
        background-color: #1f1f1f !important;
    }
    .css-1bigob2{
        color : #fff !important
    }
    .css-1sgp6db{
        color: #fff !important;
    }
}


.Toastify__toast-container {
    z-index: 9999999999999999999999 !important;
}




.css-1azl6jz-MuiTableCell-root{
    color: #fff !important;
}
.css-vubbuv{
    color: gray ;
}



.css-1bn53lx {
    border: 1px solid #fff;
}