.action-det{
    margin-right: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .btn{
        font-size: 11px !important;

    }
    .mmk{
        background-color: #22b995;
        border: #22b995;
    }
    .icon-sub{
        margin-right: 5px;
        cursor: pointer;
    }
    .icon-sub-edit{
        color: #22b995 !important;
    }
}